@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Task Generator</h1>
    <h4>Let get started </h4>
    <p class="nav-item">
        <a  asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
    </p>
</div>

